.descriptionContainer > p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: white;
}

.descriptionContainer > a {
  color: #eb49a8;
  text-decoration: none;
}

.descriptionContainer p a {
  color: #eb49a8;
  text-decoration: none;
}

.descriptionContainer p a:hover {
  text-decoration: underline;
}

.descriptionContainer > em {
  font-style: italic;
  font-size: 1.2rem;
}

.descriptionContainer > ul {
  padding-left: 20px;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.descriptionContainer > li {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}
