a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: var(--mantine-color-themePrimary-0);
}
p {
  color: black;
}
body {
  color: white;
  background-color: black;
}

.ql-editor {
  color: black !important;
}

.custom-quill .ql-editor {
  color: black !important;
}